/* Recipe.css */

.recipe-details-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

/* img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 20px 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

ul li {
  font-size: 16px;
  margin: 5px 0;
}

ol {
  list-style: decimal;
  margin-left: 20px;
  font-size: 16px;
}

ol li {
  margin: 5px 0;
}
 */

/* Add more styles as needed */
